<%= @post.title %>
<br>
<br>
<%= @post.content%>
<br>
<br>
<h1>The Comments are given:</h1>
<%= render partial: "comments/comments", locals: {commentable: @post} %>

<h5>Add Comments</h5>
<%= render partial: "comments/form", locals: {commentable: @post} %>
<br>
<br>
<%= link_to 'edit' ,edit_post_path(@post) %>
<br>
<br>
<%= link_to 'delete',post_path(@post),method: :delete ,data: {:confirm => 'Are you sure?'} %>